// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

:root {

    ion-toolbar {
        //--background: rgb(17, 31, 28);
        //color: white;
        text-align: center;
        //margin-top:10px;
        //padding:0;
    }

    --ion-toolbar-background: rgb(16, 16, 48);
    --ion-toolbar-color: white;
    --ion-background-color:black;
    --ion-color: white;
}