<div class="bgImage">
  <ion-card style="background-color: rgba(255,255,255,0.5)">
    <ion-card-header>Comandos</ion-card-header>
    <ion-card-content>
      <ion-list>
        <div *ngIf="loaded">
          <ion-item *ngFor="let nome of extractParameters(comando); let i=index">
            <ion-label>{{nome}}</ion-label>
            <ion-toggle [checked]="comando[nome]" (ionChange)="Toggle($event.detail.checked,nome)"></ion-toggle>
          </ion-item>        
          <ion-button (click)="Update()" color="danger" expand="block">
            UPDATE
          </ion-button>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>