<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons> -->
    <ion-title>
      Dollar Investments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div class="container bgImage">
    <div class="login">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div text-center>
              <ion-text style="font-size: 20px">Acesso ao Servidor</ion-text>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top:30px">
          <div style="width:100%">
            <ion-item>
              <ion-label text-start position="floating">Login</ion-label>
              <ion-input #login></ion-input>
            </ion-item>
            <ion-item>
              <ion-label  text-start position="floating">Senha</ion-label>
              <ion-input #senha></ion-input>
            </ion-item>
          </div>
        </ion-row>
        <ion-row>
          <ion-col>
            <div text-center>
              <ion-button (click)="Login(login.value, senha.value)" color="dark">Login</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>