.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: black;
    color: white;
}

.bgImage {
    background: url(/assets/images/stockmarket7.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 100%
}

.login {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    //height: 45%;
    width: 90%;
    padding: 10px;
}


ion-item {
    --background: none transparent;
    --color: white
}



 :host {

    /* ion-toolbar {
        --background: none transparent;
        //color: white;
        text-align: center;
        //margin-top:10px;
        //padding:0;
    } */

    //--ion-toolbar-background: none transparent !important;
    //--ion-toolbar-color: white;
} 