ion-menu {
    --width: 50%;

    ion-content {
        --background: rgb(10, 10, 10);
        text-align: center;
        vertical-align: middle;
    }
}

ion-content,
ion-list,
ion-item,
ion-text {
    --color: white;
}

ion-card,
ion-card-header {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    font-weight: bold;
}

ionc-card-content {
    background-color: rgba(255, 255, 255, 0.3);
}

ion-list,
div {
    color: white;
    background-color: transparent;

    ion-item {
        --background: rgba(255, 255, 255, 0.8);
        ;
        --color: black;
        --box-shadow: 0px;
    }
}


.bgImage {
    background: url(/assets/images/stockmarket2.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 100%
}

.menuStyle{
    ion-menu{
        background-color: transparent !important;
        --background: transparent;
        ion-content {
            background-color: transparent !important;
            --background: transparent;

            ion-list{
                --background: transparent;
            }
        }
    }
}