<ion-menu contentId="content1" side="start" class="menuStyle">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menuStyle">
    <ion-list lines>
      <ion-item detail routerLink="/area-interna/comandos" routerDirection="forward">
        <ion-text>Comandos</ion-text>
      </ion-item>
      <ion-item detail routerLink="/area-interna/parametros" routerDirection="forward">
        <ion-text>Parâmetros</ion-text>
      </ion-item>
      <ion-item detail routerLink="/area-interna/parametros-ativos" routerDirection="forward">
        <ion-text>Parâmetros Ativos</ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header id="content1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/home"></ion-back-button> -->
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dollar Investments
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-padding overflow-scroll="true">
  <router-outlet main></router-outlet>
</ion-content>