<div class="bgImage">
  <ion-slides #mySlides pager="true" class="slides" (ionSlideDidChange)="SlideChanged($event)">
    <ion-slide *ngFor="let parametro of parametros;">      
      <ion-card style="background-color: rgba(255,255,255,0.5)">
        <ion-card-header>Parâmetro {{page}}/{{total}}:{{parametro.nome +" "+parametro.papel}}</ion-card-header>
        <ion-card-content>
          <ion-buttons>
            <ion-button (click)="Create(parametro)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <ion-button (click)="Delete(parametro)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-button (click)="Update(parametro)">
              <ion-icon name="save"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-list>
            <div *ngIf="loaded">
              <ion-item *ngFor="let nome of extractParameters(parametro); let i=index">
                <ion-label position="floating">{{nome}}</ion-label>
                <ion-input [(ngModel)]="parametro[nome]"></ion-input>
              </ion-item>
            </div>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>